* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1;
    font-family: "Lato", sans-serif;
    background-color: thistle;

    position: relative;
}

.container {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
      
}

.header-text {
    font-weight: 100;
    text-decoration: none;
    text-transform: none;
    background-color: black;

    padding: .8rem 1.9rem;
    border-radius: 90px;
    color: white;
    box-shadow: 10px 10px 40px #000;
    animation-name: moveUp;
    animation-duration: .3s;
}

p {
    font-weight: 700;
}

/*.col-1-of-5:not(:last-child) {
    margin-right: 40px;
}*/

.dirtyDiana:not(:last-child) {
    margin-right: 55px;
}

.dirtyDiana {
    background-color: #fff;
    width: 10rem;
    height: 40vh;
    padding: 5px;


    border-radius: 5px;
}

.dirtyDiana:hover {
    transform: translateY(10px);
    translate: .4s;
}

.col-1-of-5 {
    
    /*background-color: black;*/
    width: 100%;
    height: 85%;    

}/*width: 10rem;
    height: 40vh;
}*/

.container-item__1 {
    background-color: #eedef0;
}

.container-item__2 { 
    background-color: #A1B5C1;
}

.container-item__3 {
    background-color: #f9ACA7;
}

.container-item__4 {
    background-color: #68747D;
}

.container-item__5 {
    background-color: #CF3657;
}

.generator {
    
    background-color: purple;
    padding: 1rem 5.5rem;
    border-radius: 5px;
    margin-bottom: 25px;

    translate: 3s;
    
}

.generator-link {
    text-decoration: none;
    color: #fff;

    
}

.generator:hover {
    transform: translateY(-8px);
    box-shadow: 10px 10px 32px purple;
}


p { text-align: center;}


@keyframes moveUp {
    0% {
        opacity: 0; transform: translateY(2rem);
    }


    100% {
        opacity: 1; transform: translate(0);
    }
}

